version: '2'

services:
    wp:
        image: wordpress:php7.1
        environment:
            - WORDPRESS_DB_PASSWORD=password
        ports:
            - '8080:80'
        volumes:
            - ./src:/var/www/html/wp-content/plugins/nomad-map

    mysql:
        image: mariadb:latest
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_DATABASE=wpdb
        volumes:
            - nomadMapDb:/var/lib/mysql

volumes:
    nomadMapDb:
